.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    position: relative;
}
  
.card-options {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--theme-secondary-lighter-color);
    overflow: hidden;
    align-items: center;
    font-family: var(--main-font);
}

.card-options > button, .card-options > a {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 15px;
    font-family: inherit;
}

.card-options > button:hover, .card-options > a:hover {
    background-color: #4c5f6b;
}

.card-options > button:disabled, .card-options > button:disabled:hover {
    color: #666666;
    cursor: not-allowed;
    background-color: transparent;
}

.card-options > .svg-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-options > .svg-button > img {
    height: 55%;
    font-weight: bold;
}

.card-options > button.special {
    background-color: #427aa1;
}

.card-options > button.special:hover {
    background-color: #05668d;
}

.card-options > button.special:disabled, .card-options > button.special:disabled:hover {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;  
}

.card-options > input {
    border: none;
    outline: none;
    background-color: var(--theme-secondary-color);
    color: white;
    width: 300px;
    height: 100%;
    font-size: 20px;
    padding: 0 15px;
    font-family: inherit;
}

.card-options > input:disabled {
    cursor: not-allowed;
}

.card-options > span {
    padding: 0 15px;
    font-size: 25px;
    color: white;
    font-family: inherit;
}

.card-options > .dropdown {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 100%;
}

.card-options > .dropdown > select {
    padding: 15px;
    padding-right: 35px;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    border-radius: 0px;
    color: white;
    height: 100%;
    cursor: pointer;
    font-family: inherit;
    background-color: #679436;
}

.card-options > .dropdown > select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.card-options > .dropdown > .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: white;
}