:root {
    --text-editor-background-color: var(--theme-color);
    --text-editor-selection-color: rgb(200, 200, 225, 0.2);
}

#editor {
    position: relative;
    display: flex;
    flex: 1;
    font-family: 'Menlo', monospace;
    line-height: 1.5;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
}

#line-numbers {
    padding: 10px;
    background-color: var(--text-editor-background-color);
    text-align: right;
    user-select: none;
    flex: 0 0 auto;
    width: 40px;
    font-family: inherit;
    overflow: hidden;
}

#line-number span {
    display: block;
}

#code-container {
    position: relative;
    flex: 1;
    font-family: inherit;
    tab-size: 4;
    overflow: hidden;
}

#backdrop {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: var(--text-editor-background-color);
    white-space: pre;
    tab-size: 4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#code {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    line-height: inherit;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: transparent;
    white-space: pre;
}

#code::selection {
    background-color: var(--text-editor-selection-color);
}

#preview {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(46, 46, 52);
    border: none;
    left: 0;
    top: 0;
    border-radius: 5px;
    white-space: nowrap;
    animation: fade-in-show 0.25s ease-out;
}

@keyframes fade-in-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}