:root {
    --text-editor-background-color: #1e1e1e;
    --text-editor-foreground-color: #d4d4d4;
    --text-editor-line-numbers-color: #6B6B6B
}

.editor {
    position: relative;
    display: flex;
    width: 40%;
    font-family: 'Menlo', monospace;
    font-size: 24px;
    line-height: 1.5;
    resize: horizontal;
    overflow: hidden;
}

#line-numbers {
    padding: 10px;
    background-color: var(--text-editor-background-color);
    color: var(--text-editor-foreground-color);
    text-align: right;
    user-select: none;
    flex: 0 0 auto;
    width: 40px;
    font-family: inherit;
    overflow-y: hidden;
}

#line-number span {
    display: block;
}

#code-container {
    position: relative;
    flex: 1;
    font-family: inherit;
    tab-size: 4;
    overflow: hidden;
}

#code {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: var(--text-editor-background-color);
    color: blue;
    caret-color: var(--text-editor-foreground-color);
    white-space: pre;
}

#layer {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 24px;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    white-space: pre;
    tab-size: 4;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    pointer-events: none;
}