:root {
    --text-editor-background-color: rgb(31, 31, 31);
    --text-editor-foreground-color: rgb(255, 255, 255);
    --text-editor-line-numbers-color: rgb(102, 102, 102);
}

.editor {
    position: relative;
    display: flex;
    flex: 2;
    font-family: 'Menlo', monospace;
    line-height: 1.5;
    overflow: hidden;
    box-sizing: border-box;
}

#line-numbers {
    padding: 10px;
    background-color: var(--text-editor-background-color);
    color: var(--text-editor-line-numbers-color);
    text-align: right;
    user-select: none;
    flex: 0 0 auto;
    width: 40px;
    font-family: inherit;
    overflow-y: hidden;
}

#line-number span {
    display: block;
}

#code-container {
    position: relative;
    flex: 1;
    font-family: inherit;
    tab-size: 4;
    overflow: hidden;
}

#code {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    line-height: inherit;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: var(--text-editor-background-color);
    color: transparent;
    caret-color: var(--text-editor-foreground-color);
    white-space: pre;
}

#layer {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    white-space: pre;
    tab-size: 4;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    pointer-events: none;
}

span.keyword {
    color: rgb(238, 39, 111);
}

span.string {
    color: rgb(166, 226, 46);
}

span.character {
    color: rgb(174, 129, 255);
}

span.arrow {
    color: rgb(102, 217, 239);
}

span.default {
    color: var(--text-editor-foreground-color);
}