:root {
    --cell-length: 75px;
    --cell-thickness: 2px;
    --cell-color: white;
    --pointer-length: calc(var(--cell-length) * 1.75)
}

.machine {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--text-editor-background-color);
    justify-content: center;
    align-items: center;
    position: relative;
}

.tape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.cells {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  border: var(--cell-thickness) solid var(--cell-color);
  height: var(--cell-length);
  position: absolute;
  margin-left: calc(calc(var(--cell-length) / -2) - var(--cell-thickness));
  transition: transform 0.25s ease-in-out;
}

.cell {
  font-family: 'Menlo';
  color: var(--cell-color);
  font-size: 32px;
  width: var(--cell-length);
  height: var(--cell-length);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid var(--cell-color) var(--cell-thickness);
  box-sizing: border-box;
}

.cell:last-child {
  border-right: none; /* Remove border on the last item */
}

.pointer {
  width: var(--pointer-length);
  height: var(--pointer-length);
  background-color: transparent;
  position: absolute;
  border: 5px solid royalblue;
  border-radius: 10px;
  margin-left: calc(var(--pointer-length) / -2);
  box-sizing: border-box;
}