:root {
    --cell-length: 100px;
    --pointer-length: calc(var(--cell-length) * 1.5)
}

.machine {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--text-editor-background-color);
    justify-content: center;
    align-items: center;
    position: relative;
}

.tape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.cells {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid var(--text-color) 3px;
  height: var(--cell-length);
  position: absolute;
  margin-left: calc(var(--cell-length) / -2);
  transition: transform 0.5s ease-in-out;
}

.cell {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 30px;
  width: var(--cell-length);
  height: var(--cell-length);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid var(--text-color) 3px;
  box-sizing: border-box;
}

.cell:last-child {
  border-right: none; /* Remove border on the last item */
}

.pointer {
  width: var(--pointer-length);
  height: var(--pointer-length);
  background-color: transparent;
  position: absolute;
  border: 5px solid royalblue;
  border-radius: 10px;
  margin-left: calc(var(--pointer-length) / -2);
}