@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

:root {
  --theme-color: rgb(41, 44, 51);
  --theme-secondary-color: rgb(48, 51, 60);
  --theme-secondary-darker-color: rgb(34, 37, 42);
  --theme-secondary-lighter-color: rgb(57, 62, 73);

  --minimum-section-dimension: 200px;

  --main-font: 'Ubuntu', sans-serif;
}

html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--theme-secondary-darker-color);
}

#content {
  margin: var(--resizer-thickness);
  width: calc(100% - calc(var(--resizer-thickness) * 2));
  height: calc(100% - calc(var(--resizer-thickness) * 2));
}

.horizontal-section-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}

.horizontal-section-container section {
  min-width: var(--minimum-section-dimension);
}

.vertical-section-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.vertical-section-container section {
  min-height: var(--minimum-section-dimension);
}

.resizer {
  background-color: var(--theme-secondary-darker-color);
}

.resizer:hover {
  background-color: var(--theme-secondary-color);
}

.spacer {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-secondary-lighter-color);
  border-radius: 5px;
}


::-webkit-scrollbar-corner {
  background-color: transparent;
}