.tutorial {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: var(--text-editor-background-color);
}